@import "../variable";

// Animations //
// Title
@keyframes flashing-title {
    0%,
    20%,
    22%,
    38%,
    40%,
    41%,
    44%,
    72%,
    74%,
    74.5%,
    76%,
    77%,
    90% {
        opacity: 1;
    }
    21%,
    39%,
    42%,
    73%,
    75%,
    78%,
    85% {
        opacity: 0;
    }
}

// Disable animations when prefers reduced motion
@media (prefers-reduced-motion) {
    @keyframes flashing-title {
        0%, 100% {
            opacity: 1;
        }
    }
}

.hackathon-title {
    width: fit-content;
}

.sunrin {
    display: block;

    width: 80%;
    margin: 0 auto;
}
.main {
    position: relative;

    width: 1024px;

    .lit,
    .unlit {
        width: 100%;
    }
    .lit {
        position: absolute;
        top: 0;
        left: 0;

        animation: {
            name: flashing-title;
            duration: 10s;
            iteration-count: infinite;
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1100px) {
    .sunrin {
        width: 80%;
    }
    .main {
        width: 100%;
        padding: 0 32px;

        .lit {
            left: 32px;

            width: calc(100% - 64px);
        }
    }
}

@media screen and (max-width: 768px) {
    .sunrin {
        width: 80%;
    }
    .main {
        width: 100%;
        padding: 0 16px;

        .lit {
            left: 16px;

            width: calc(100% - 32px);
        }
    }
}
