@import "../variable";

.hackathon-timer {
    --theme-color: #{$base-theme-color-dark};
    --theme-color-shadow: transparent;
    $theme-color: var(--theme-color);
    $theme-color-shadow: var(--theme-color-shadow);

    display: flex;

    width: fit-content;

    flex-direction: column;

    &:hover {
        --theme-color: #{$base-theme-color};
        --theme-color-shadow: #{rgba($base-theme-color, 0.75)};
    }

    .title {
        display: flex;

        width: 100%;
        height: 32px;

        border: 2px solid $theme-color;
        border-radius: 2px;

        justify-content: center;
        align-items: center;

        color: $theme-color;
        font: {
            size: large;
            weight: bold;
        }
        text-align: center;

        transition: border-color 0.1s, color 0.1s;
    }
    .timer {
        display: flex;

        padding: {
            top: 24px;
            bottom: 24px;
            left: 16px;
            right: 16px;
        }

        .digits {
            display: flex;

            width: 96px;

            flex-direction: column;

            justify-content: center;

            color: $theme-color;
            text-align: center;

            transition: color 0.1s;

            .value {
                font-size: xxx-large;
                text-shadow: 0 0 8px $theme-color-shadow;

                transition: text-shadow 0.1s;
            }
            .name {
                font: {
                    size: medium;
                    weight: bold;
                }
                text-transform: uppercase;
            }
        }
        .division {
            display: block;

            margin: 0 8px;

            border: none;
            border-right: 1px solid $theme-color;

            transition: border-color 0.1s;
        }
    }
    .footer {
        display: block;

        width: 100%;
        height: 32px;

        border: 2px solid $theme-color;
        border-radius: 2px;

        transition: border-color 0.1s;
    }
    .tags {
        width: 100%;

        .tag {
            display: block;

            width: 100%;
            height: 10px;
            margin: 2px 0;

            background: {
                image: url("../assets/images/tag.png");
                repeat: repeat-x;
                size: contain;
            }
        }
        @for $i from 1 through 2 {
            .tag:nth-child(#{$i}) {
                background-position: $i * 31%;
            }
        }
    }
}
