@import "../variable";

.hackathon-timer {
    display: flex;

    width: fit-content;

    flex-direction: column;

    .title {
        width: fit-content;
        margin: 0 auto;
        padding: 0 8px;

        background-color: $base-background-color;

        z-index: 1;

        font-size: large;
        text-align: center;
    }
    .timer {
        display: flex;

        position: relative;
        bottom: 12px;

        padding: {
            top: 24px;
            bottom: 24px;
            left: 16px;
            right: 16px;
        }

        border: 2px solid $text-color-white;

        .digits {
            display: flex;

            width: 96px;

            flex-direction: column;

            justify-content: center;

            text-align: center;

            .value {
                font: {
                    size: xxx-large;
                    weight: bold;
                }
            }
            .name {
                font-size: small;
                text-transform: uppercase;
            }
        }
        .division {
            display: block;

            margin: 0 8px;

            border-right: 1px solid rgba(255, 255, 255, 0.25);
        }
    }
}
