// Colors //
// Text
$text-color-black           : #222222                  !global !default;
$text-color-black-disable   : rgba(30, 30, 30, 0.6)    !global !default;
$text-color-white           : #f5f5f5                  !global !default;
$text-color-white-disable   : rgba(244, 244, 244, 0.5) !global !default;
// Base
$base-background-color: #11060a !global !default;
$base-grid-color      : #444444 !global !default;
