// Colors //
// Text
$text-color-black           : #222222 !global !default;
$text-color-black-desc      : #444444 !global !default;
$text-color-black-disable   : #666666 !global !default;
$text-color-white           : #f5f5f5 !global !default;
$text-color-white-disable   : #cccccc !global !default;
// Base
$base-theme-color           : #e61f71 !global !default;
$base-theme-color-dark      : #8f0e48 !global !default;
$base-theme-background-color: #11060a !global !default;
$base-background-color      : #f5f5f5 !global !default;
$base-grid-color            : #cccccc !global !default;
