@import "./variable";

.banner {
    padding: 64px 0;

    background: radial-gradient(circle at 50%, #222222, #111111);

    color: $text-color-white;

    h1 {
        margin-bottom: 32px;

        font: {
            size: xxx-large;
            weight: bold;
        }
        text-align: center;
        text-transform: uppercase;
    }
    .timer {
        margin: 0 auto;
    }
}
